{% extends "common/layout-base-project.twig" %}
{% set body_class = "sg" %}
{% set page = {
  title : "Styleguide",
} %}

{% block banner %}
  <p class="back-home"><a href="./">Retour à l'index du projet</a></p>
  <div class="container"><h1>{{ page.title }} {{ site.title }}</h1></div>
{% endblock %}


{% block content  %}

<button type="button" class="js-expandmore-all btn" data-expand="true" data-expandtext="Déplier toutes les sections du styleguide" data-collapsetext="Replier toutes les sections du styleguide">
  Déplier toutes les sections du styleguide
</button>

<div class="sg">
  <h1 id="visu" class="sg-title">Identité visuelle</h1>
  <button type="button" class="js-expandmore-all btn"
    data-expand="true" data-expandtext="Déplier Identité visuelle" data-collapsetext="Replier identité visuelle"
    data-controls="visu-expand">
    Déplier Identité visuelle
  </button>
  <div id="visu-expand" class="js-expandmore" data-multiselectable="true">
    <h2 id="logo" class="sg-title js-expandmore-title">Logo</h2>
    <div class="js-expandmore-panel">
      {% include "styleguide/1-logo.twig" %}
    </div>

    <h2 id="couleurs-et-fontes" class="sg-title js-expandmore-title">Couleurs</h2>
    <div class="js-expandmore-panel">
      {% include "styleguide/1-colors.twig" %}
    </div>

    <h2 class="sg-title js-expandmore-title">Fontes</h2>
    <div class="js-expandmore-panel">
      {% include "styleguide/1-fonts.twig" %}
      <h3 class="sg-title">Pangramme</h3>
      {% include "styleguide/1-pangram.twig" %}
    </div>

    <h2 id="icones" class="sg-title js-expandmore-title">Icônes</h2>
    <div class="js-expandmore-panel">
      {% include "styleguide/1-icons.twig" %}
    </div>
  </div>

  <h1 id="typo" class="sg-title">Éléments de contenu courants</h1>
    <button type="button" class="js-expandmore-all btn"
      data-expand="true" data-expandtext="Déplier Éléments de contenu courants" data-collapsetext="Replier Éléments de contenu courants"
      data-controls="typo-expand">
      Déplier Éléments de contenu courants
    </button>
  <div id="typo-expand" class="js-expandmore" data-multiselectable="true">
    <h2 class="sg-title js-expandmore-title">Typographie</h2>

    <div class="js-expandmore-panel">
      <article class="article">
        {% include "styleguide/2-headings.twig" %}
        {% include "styleguide/2-paragraphs.twig" %}
        {% include "styleguide/2-blockquote.twig" %}
        {% include "styleguide/2-lists.twig" %}
        {% include "styleguide/2-links.twig" %}
      </article>
    </div>

    <h2 class="sg-title js-expandmore-title">Tableaux</h2>
    <div class="js-expandmore-panel">
      <article class="article">
        {% include "styleguide/2-tables.twig" %}
      </article>
    </div>

    <h2 class="sg-title js-expandmore-title">Médias</h2>
    <div class="js-expandmore-panel">
      <article class="article">
        {% include "styleguide/2-medias.twig" %}
      </article>
    </div>
  </div>

  <h1 id="buttons" class="sg-title">Boutons et formulaires</h1>
    <button type="button" class="js-expandmore-all btn"
      data-expand="true" data-expandtext="Déplier Boutons et formulaires" data-collapsetext="Replier Boutons et formulaires"
      data-controls="forms-expand">
      Déplier Boutons et formulaires
    </button>

  <div id="forms-expand" class="js-expandmore" data-multiselectable="true">
    <h2 class="sg-title js-expandmore-title">Boutons</h2>
    <div class="js-expandmore-panel">
      <article class="article">
        {% include "styleguide/3-buttons.twig" %}
      </article>
    </div>

    <h2 class="sg-title js-expandmore-title">Éléments de formulaire</h2>
    <div class="js-expandmore-panel">
      <article class="article">
        {% include "styleguide/3-forms.twig" %}
      </article>
    </div>

    <h2 class="sg-title js-expandmore-title">Messages</h2>
    <div class="js-expandmore-panel">
      <article class="article">
        {% include "styleguide/3-alerts.twig" %}
      </article>
    </div>
  </div>

  <h1 id="composants" class="sg-title">Composants du projet</h1>

    <button type="button" class="js-expandmore-all btn"
      data-expand="true" data-expandtext="Déplier Composants du projet" data-collapsetext="Replier Composants du projet"
      data-controls="components-expand">
      Déplier Composants du projet
    </button>

  <div id="components-expand" class="js-expandmore" data-multiselectable="true">
    <h2 class="sg-title js-expandmore-title">Liens d'évitement (skip-link)</h2>
    <div class="js-expandmore-panel">
      <p>En situation dans cette page. Rafraîchir la page et tabuler.</p>
    </div>

    <h2 class="sg-title js-expandmore-title">Fil d'Ariane (breadcrumb)</h2>
    <div class="js-expandmore-panel">
      {% include "styleguide/4-breadcrumb.twig" %}
    </div>

  </div>

</div>
{% endblock %} <!-- fin bloc content -->

{% block breadcrumb %}{% endblock %}
