<!-- Favicons Generated with favicon.il.ly -->
<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{{ baseURL }}assets/favicon/favicon.ico">
<!--[if IE]>
<link rel="shortcut icon" href="favicon.ico">
<![endif]-->
<!-- Optional: Android & iPhone-->
<link rel="icon apple-touch-icon-precomposed" href="{{ baseURL }}assets/favicon/favicon-152.png">
<!-- Optional: IE10 Tile.-->
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{ baseURL }}assets/favicon/favicon-144.png">
<!-- Optional: ipads, androids, iphones, ...-->
<link rel="apple-touch-icon" sizes="152x152" href="{{ baseURL }}assets/favicon/favicon-152.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ baseURL }}assets/favicon/favicon-144.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ baseURL }}assets/favicon/favicon-120.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ baseURL }}assets/favicon/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ baseURL }}assets/favicon/favicon-72.png">
<link rel="apple-touch-icon" href="{{ baseURL }}assets/favicon/favicon-57.png">
